@{
}

<link rel="stylesheet" type="text/css" href="~/css/custom.css">

<form method="post" class="form-control">
    <label class="form-label">Event Name:
        <input type="text" name="Name" class="form-control">
    </label>
    <label class="form-label">Event Description:
        <input type="text" name="Description" class="form-control">
    </label>
    <input type="submit" value="Add Event" class="btn btn-primary form-control">
</form>