@{
}
<link rel="stylesheet" type="text/css" href="~/css/custom.css">
<h1>Coding Events</h1>
<p>
    <a asp-controller="events" asp-action="add">Add Event</a>
</p>
<ul>
    @if (ViewBag.events.Count > 0)
    {
        @foreach (string codingEvent in ViewBag.events)
        {
            <li>@codingEvent</li>
        }
    }
    else
    {
        <h2>No Events Yet!</h2>
    }
</ul>

<partial name="/Views/Shared/_LinkListPartial.cshtml" />