@{
}
<link rel="stylesheet" type="text/css" href="~/css/custom.css">
<h1>Coding Events</h1>
<p>
    <a asp-controller="events" asp-action="add">Add Event</a>
</p>
@if (ViewBag.events.Count == 0)
{
    <h2>No Events Yet!</h2>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Event Descripton</th>
            </tr>
        </thead>
        <tbody>
            @foreach (KeyValuePair<string, string> codingEvent in ViewBag.events)
            {
                <td>@codingEvent.Key</td>
                <td>@codingEvent.Value</td>
            }
        </tbody>
    </table>
}

<partial name="/Views/Shared/_LinkListPartial.cshtml" />