@{
}
<link rel="stylesheet" type="text/css" href="~/css/custom.css">
<h1>Coding Events</h1>
<p>
    <a asp-controller="events" asp-action="add">Add Event</a>
</p>
@if (ViewBag.events.Count == 0)
{
    <h2>No Events Yet!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Event ID</th>
                <th>Event Name</th>
                <th>Event Descripton</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var codingEvent in ViewBag.events)
            {
                <tr>
                    <td>@codingEvent.Id</td>
                    <td>@codingEvent.Name</td>
                    <td>@codingEvent.Description</td>
                </tr>
            }
        </tbody>
    </table>
}