@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form action="events">
        <input type="submit" value="Go To Events" class="btn btn-primary">
    </form>
    <form action="events/add">
        <input type="submit" value="Add Event" class="btn btn-primary">
    </form>
</div>
